.navbar-brand{
    font-size: 30px;
    color:palevioletred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-brand:hover{
    color:palevioletred;
}

.nav-link{
    text-transform: uppercase;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.carousel-image-wrapper{
    position: relative;
}
.carousel-image-wrapper img{
    height: 400px;
    object-fit: cover;
    width: 100%;
    filter:brightness(70%);
}

.carousel-caption{
    top:15%;
    bottom:auto;
}

footer p{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#suggesthawkername{
    list-style: none;
    padding-left:0;
}