.navbar-brand{
    font-size: 30px;
    color:palevioletred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer p{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}